
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 252 88% 64%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 252 88% 64%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 252 88% 64%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 252 88% 64%;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;

    --card: 222.2 47.4% 13.2%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 88% 64%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 21.5%;
    --input: 217.2 32.6% 21.5%;
    --ring: 252 88% 64%;
    
    --sidebar-background: 222.2 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 252 88% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222.2 47.4% 11.2%;
    --sidebar-ring: 252 88% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .step-item {
    @apply flex flex-col items-center w-36 relative;
  }
  
  .step-item:not(:first-child):before {
    @apply content-[''] bg-slate-200 dark:bg-slate-700 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
  }
  
  .step-item.active:not(:first-child):before,
  .step-item.complete:not(:first-child):before {
    @apply bg-brand-500;
  }
  
  .step {
    @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-200 dark:bg-slate-700 rounded-full font-semibold text-slate-500 dark:text-slate-300;
  }
  
  .step.active {
    @apply bg-brand-500 text-white;
  }
  
  .step.complete {
    @apply bg-brand-500 text-white;
  }
  
  .complete .step-icon {
    @apply flex;
  }
  
  .step-label {
    @apply text-center text-xs md:text-sm font-medium text-slate-600 dark:text-slate-300 mt-2;
  }
}
